<html>

<style>
div.a
{
    width:1000px;
    height:500px;
    background-color:Blue;
    margin:auto;
}
</style>
<body>

    <div class="a">
        <form action='/add' method="POST" enctype="multipart/form-data">
            <h2 style="border-radius: 20px 20px 0px 0px;background-color: #0b4c61;color: white;padding: 10px;">Add
                New User</h2>
            <label style="font-size: 20px;"><b>Enter New User Name*</b></label>
            <br>
            <input type="text" id="newusername" name='newusername'
                style="font-size: 20px;margin-top:10px;margin-bottom:10px;" required>
            <br>
            <label style="font-size: 20px;"><b>Enter New User Id*</b></label>
            <br>
            <input type="number" id="newusereid" name='newuserid'
                style="font-size: 20px;margin-top:10px;margin-bottom:10px;" required>
            <br>
            <button style="width: 232px;margin-top: 20px;font-size: 20px;" type='submit' class='btn btn-dark'>Add
                New User
            </button>
            <br>

        </form>


        <br>
        <br>

        <a style="text-decoration: none;max-width: 300px;" href="/start">
            <button
                style="font-size: 24px;font-weight: bold;border-radius: 10px;width:490px;padding: 10px;margin-top: 30px;margin-bottom: 30px;"
                type='submit' class='btn btn-primary'>Take Attendance</button>
        </a>
    </div>
    
</body>

</html>